@model List<Asignatura>

@{
  ViewData["Title"] = "Información Asignatura";
}

<h1>@ViewData["Title"] </h1>
@foreach (var asignatura in Model)
{
  <strong>Desde la vista parcial</strong>
  <partial name = "ListaObjetosEscuela"/>
}